<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Hello Learn Vearn</h1>
    <center><h1>Image uploading form</h1>
    <form action="{% url 'imageupload'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Image Name</td>
                <td><input type="text" name="imgname"></td>
                <tr>
                    <td><input type="file" name="image" id=""></td>
                </tr>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="upload" id="">
                </td>
            </tr>
        </table>
    </form></center>
</body>
</html>